.footer-container {
    background: linear-gradient(90deg, #ffba3bda 0%, rgba(253, 106, 38, 0.932) 100%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
  }
.col-sm-2{
  padding:25px;
  text-align:left;
}
.col-sm-5{
  padding:25px;
  text-align:left;
  font-size: 20px;
}
.col-sm-9{
     padding:25px;
     text-align:left;
     font-size: 20px;
 }
.input-lg{
    font-size: 16px;
}
.btn-warning{
    font-size: 16px;
}